<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Cotas_para_Senadores_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Analise dos dados de Cotas para Exercício da Atividade Parlamentar dos Senadores**

Aula 3  (stop 35' 50)
https://youtu.be/zpNtiJsJ7KY

Dados Abertos senado federal:<br>
https://www12.senado.leg.br/dados-abertos<br>
https://www12.senado.leg.br/dados-abertos<br>

Curso Markdown<br>
http://cursos.leg.ufpr.br/prr/capMarkdown.html<br>

--------------------------------------------------
>Explorando os dados 

- pd.read_csv ... , sep=';', encoding = 'latin1', skiprows=1, decimal=','.... Tratar o dataframe

- df.info()...analiza os tipos das colunas<br>
- df.shape....verifica o tamanho do dataframe   (linhas, colunas)<br>
- df.count()...Verifica valores validos(não nulos) em cada coluna<br>
- df.describe()...(analizar só colunas numéricas)<br>
- df.dtypes.... tipo de cada coluna <br>

- df.head(x)<br>
- df.sample(x).....lista x linhas aleatórias<br>
- df.tail()<br>
- df.isnull().sum()... retorna o número de valores ausentes para cada coluna.<br>
- df.isnull().sum().sum()... retorna o número total de valores ausentes.<br>
- df.isna().mean().... descobre a porcentagem de valores que estão faltando, executando: <br><br>

-------------------------------------------------------
>Analizando os dados 

df['coluna1'].sum() ....Soma campos da coluna1<br>
df['coluna1'].value_counts()....conta x vezes que cada campo aparece na coluna1<br>

df[(df['coluna1'] > 500) & (df['coluna1'] < 1000)]....Fatia o df pelo valor >500 E <1000 da coluna1<br>

df.nlargest(x, 'coluna') ... Retorna o x MAIOR valor da coluna. <br>
df[df['coluna1'] == df['coluna1'].max()]....valor maior na coluna1 dentro do DataFrame<br>

df.nsmallest(x, 'coluna') ... Retorna o x MENOR valor da coluna<br>
df[df['coluna1'] == df['coluna1'].min()]....valor menor na coluna1 dentro do DataFrame<br>
df[df['coluna1'] == df['coluna1'].min()] ['coluna2']....valor menor na coluna1 com uma coluna2 dentro do DataFrame<br>
df[df['coluna1'] == df['coluna1'].min()]  [['coluna2', 'coluna3', 'coluna4' ]]....valor menor na coluna1 com VÁRIAS colunas dentro do DataFrame<br>

df.groupby('coluna1')['coluna2'].sum().sort_values(ascending=False) ...agrupa cada linha da coluna1 com a coluna2,soma e ordena do > p <<br>
df.groupby('coluna1')['coluna2'].max() ...agrupa cada linha da coluna1 com o máximo valor da coluna2
df.groupby('coluna1')['coluna2'].min()...agrupa cada linha da coluna1 com o minimo valor da coluna2<br><br>

df.loc[df.groupby('coluna1')['coluna2'].idxmax() ]
- Localizar linhas do dataframe pelo agrupamento da coluna1 e a coluna2 pelo indice da linha q tem o valor máximo
- idxmax - pega o INDICE DA LINHA que tem o valor maximo (pegou a linha inteira)
- loc - server para localizar uma linha com base no indice<br><br>


<br><br><br><br><br>

In [17]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/despesa_ceaps_2021.csv', sep=';', encoding = 'latin1', skiprows=1, decimal=',')  
df.head(6)

    ANO  MES  ... VALOR_REEMBOLSADO COD_DOCUMENTO
0  2021    1  ...           1000.00       2157367
1  2021    1  ...           6000.00       2156383
2  2021    1  ...           1500.00       2154509
3  2021    1  ...           6000.00       2154507
4  2021    1  ...           1486.46       2154508
5  2021    1  ...           1890.00       2156714

[6 rows x 11 columns]

In [37]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    Raises
    ------
    KeyError
        If any items are not found.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2328 entries, 0 to 2327
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                2328 non-null   int64
 1   MES                2328 non-null   int64
 2   SENADOR            2328 non-null   object
 3   TIPO_DESPESA       2328 non-null   object
 4   CNPJ_CPF           2328 non-null   object
 5   FORNECEDOR         2328 non-null   object
 6   DOCUMENTO          2209 non-null   object
 7   DATA               2328 non-null   object
 8   DETALHAMENTO       1171 non-null   object
 9   VALOR_REEMBOLSADO  2328 non-null   float64
 10  COD_DOCUMENTO      2328 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 200.2+ KB

In [6]:
df.describe()

          ANO          MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
count  2328.0  2328.000000        2328.000000   2.328000e+03
mean   2021.0     1.753007        1501.106491   2.155868e+06
std       0.0     0.707556        2846.116613   9.086718e+02
min    2021.0     1.000000           0.020000   2.154172e+06
25%    2021.0     1.000000         180.000000   2.155128e+06
50%    2021.0     2.000000         515.940000   2.155916e+06
75%    2021.0     2.000000        1665.070000   2.156605e+06
max    2021.0     3.000000       35000.000000   2.157603e+06

In [8]:
df.shape

(2328, 11)

In [14]:
# Qual o total de reembolso?
df['VALOR_REEMBOLSADO'].sum()

3494575.9099999997

In [15]:
# quantos reembolsos foram solicitados por cada senador?
df['SENADOR'].value_counts()

CARLOS VIANA          111
JAQUES WAGNER          86
MAJOR OLIMPIO          82
TELMÁRIO MOTA          82
LUIS CARLOS HEINZE     78
                     ...
CHICO RODRIGUES         3
OMAR AZIZ               2
STYVENSON VALENTIM      2
TASSO JEREISSATI        1
NAILDE PANTA            1
Name: SENADOR, Length: 75, dtype: int64

In [21]:
# Quantos senadores solicitaram de reembolso no ano de 2021?
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

SENADOR
TELMÁRIO MOTA         122736.19
MAILZA GOMES          122063.35
MARCIO BITTAR          99010.74
FERNANDO COLLOR        96000.00
CIRO NOGUEIRA          94654.76
                        ...
NEY SUASSUNA            9501.33
OMAR AZIZ               6766.86
VANDERLAN CARDOSO       4324.55
STYVENSON VALENTIM      3153.27
NAILDE PANTA            1650.62
Name: VALOR_REEMBOLSADO, Length: 75, dtype: float64

In [22]:
# Quais os 5 maiores valores valores de reembolso?
df.nlargest(5, 'VALOR_REEMBOLSADO')

       ANO  MES  ... VALOR_REEMBOLSADO COD_DOCUMENTO
1523  2021    2  ...           35000.0       2155543
1528  2021    3  ...           35000.0       2156722
1646  2021    3  ...           30000.0       2157349
490   2021    1  ...           25000.0       2154681
491   2021    2  ...           25000.0       2155075

[5 rows x 11 columns]

In [23]:
# Quais os 5 menores valores valores de reembolso?
df.nsmallest(5, 'VALOR_REEMBOLSADO')

       ANO  MES  ... VALOR_REEMBOLSADO COD_DOCUMENTO
2158  2021    1  ...              0.02       2157108
666   2021    1  ...              4.99       2155374
227   2021    1  ...              5.17       2155660
682   2021    1  ...              6.03       2155265
675   2021    1  ...              6.48       2155257

[5 rows x 11 columns]

In [33]:
# Quantidade  de reembolsos p tipo de despesa
# df.groupby('VALOR_REEMBOLSADO')['TIPO_DESPESA'].sum()
#df['VALOR_REEMBOLSADO'].value_counts().sort_values(ascending=False)
df['TIPO_DESPESA'].value_counts()

Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           656
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   641
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 423
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.     235
Divulgação da atividade parlamentar                                                                                                                                                                198
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             169
Serviços de Segurança Privada                                                                                                                                                                        6
Name: TIPO_DESPESA, dtype: int64

In [35]:
# quais são os valores totais de reembolso por tipo de despesas
df.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

TIPO_DESPESA
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                             955474.38
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                           715743.48
Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   598429.14
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                 571463.47
Divulgação da atividade parlamentar                                                                                                                                                                470466.02
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.     176741.90
Serviços de Segurança Privada                                                                                                                                                                        6257.52
Name: VALOR_REEMBOLSADO, dtype: float64

In [9]:
df.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             119
DATA                    0
DETALHAMENTO         1157
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [10]:
df.isnull().sum().sum()

1276