<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Cotas_para_Senadores_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Analise dos dados de Cotas para Exercício da Atividade Parlamentar dos Senadores**

Aula 3  (stop 35' 50)
https://youtu.be/zpNtiJsJ7KY

Dados Abertos senado federal:<br>
https://www12.senado.leg.br/dados-abertos<br>
https://www12.senado.leg.br/dados-abertos<br>

Curso Markdown<br>
http://cursos.leg.ufpr.br/prr/capMarkdown.html<br>

--------------------------------------------------
>Explorando os dados 

- pd.read_csv ... , sep=';', encoding = 'latin1', skiprows=1, decimal=','.... Tratar o dataframe

- df.info()<br>
- df.shape    # verifica o tamanho do dataframe   (linhas, colunas)<br>
- df.count()<br>
- df.describe()...(analizar só colunas numéricas)<br>
- df.dtypes tipo de cada coluna <br><br>

- df.head(4)<br>
- df.sample(10)   #lista linhas aleatórias<br>
- df.tail()<br>
- df.isnull().sum() retorna o número de valores ausentes para cada coluna.<br>
- df.isnull().sum().sum() retorna o número total de valores ausentes.<br>
- df.isna().mean() descobre a porcentagem de valores que estão faltando, executando: <br><br>

- df.nsmallest(7, 'mensalidade')    7 menores valores mensalidades<br>
- df.nlargest(5, 'mensalidade')  5 maiores valores mensalidades<br><br>

- help(pd.Series.loc) pedindo ajuda

----------------------------------------------------
####Soma campos da coluna
df['coluna'].sum() ....Soma campos da coluna<br>
df['coluna'].value_counts()....conta x vezes aparece na coluna<br>
df.groupby('coluna1')['coluna2'].sum().sort_values(ascending=False) ...agrupa cada linha da coluna1 com a coluna2,soma e ordena do > p <<br>
df.nlargest(x, 'coluna') ... Retorna o x MAIOR valor da coluna. <br>
df.nsmallest(x, 'coluna') ... Retorna o x MENOR valor da coluna.<br>
<br><br><br><br>

In [17]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/despesa_ceaps_2021.csv', sep=';', encoding = 'latin1', skiprows=1, decimal=',')  
df.head(6)

    ANO  MES  ... VALOR_REEMBOLSADO COD_DOCUMENTO
0  2021    1  ...           1000.00       2157367
1  2021    1  ...           6000.00       2156383
2  2021    1  ...           1500.00       2154509
3  2021    1  ...           6000.00       2154507
4  2021    1  ...           1486.46       2154508
5  2021    1  ...           1890.00       2156714

[6 rows x 11 columns]

In [14]:
# Qual o total de reembolso?
df['VALOR_REEMBOLSADO'].sum()

3494575.9099999997

In [15]:
# quantos reembolsos foram solicitados por cada senador?
df['SENADOR'].value_counts()

CARLOS VIANA          111
JAQUES WAGNER          86
MAJOR OLIMPIO          82
TELMÁRIO MOTA          82
LUIS CARLOS HEINZE     78
                     ...
CHICO RODRIGUES         3
OMAR AZIZ               2
STYVENSON VALENTIM      2
TASSO JEREISSATI        1
NAILDE PANTA            1
Name: SENADOR, Length: 75, dtype: int64

In [21]:
# Quantos senadores solicitaram de reembolso no ano de 2021?
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

SENADOR
TELMÁRIO MOTA         122736.19
MAILZA GOMES          122063.35
MARCIO BITTAR          99010.74
FERNANDO COLLOR        96000.00
CIRO NOGUEIRA          94654.76
                        ...
NEY SUASSUNA            9501.33
OMAR AZIZ               6766.86
VANDERLAN CARDOSO       4324.55
STYVENSON VALENTIM      3153.27
NAILDE PANTA            1650.62
Name: VALOR_REEMBOLSADO, Length: 75, dtype: float64

In [22]:
# Quais os 5 maiores valores valores de reembolso?
df.nlargest(5, 'VALOR_REEMBOLSADO')

       ANO  MES  ... VALOR_REEMBOLSADO COD_DOCUMENTO
1523  2021    2  ...           35000.0       2155543
1528  2021    3  ...           35000.0       2156722
1646  2021    3  ...           30000.0       2157349
490   2021    1  ...           25000.0       2154681
491   2021    2  ...           25000.0       2155075

[5 rows x 11 columns]

In [23]:
# Quais os 5 menored valores valores de reembolso?
df.nsmallest(5, 'VALOR_REEMBOLSADO')

       ANO  MES  ... VALOR_REEMBOLSADO COD_DOCUMENTO
2158  2021    1  ...              0.02       2157108
666   2021    1  ...              4.99       2155374
227   2021    1  ...              5.17       2155660
682   2021    1  ...              6.03       2155265
675   2021    1  ...              6.48       2155257

[5 rows x 11 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2328 entries, 0 to 2327
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                2328 non-null   int64
 1   MES                2328 non-null   int64
 2   SENADOR            2328 non-null   object
 3   TIPO_DESPESA       2328 non-null   object
 4   CNPJ_CPF           2328 non-null   object
 5   FORNECEDOR         2328 non-null   object
 6   DOCUMENTO          2209 non-null   object
 7   DATA               2328 non-null   object
 8   DETALHAMENTO       1171 non-null   object
 9   VALOR_REEMBOLSADO  2328 non-null   float64
 10  COD_DOCUMENTO      2328 non-null   int64
dtypes: float64(1), int64(3), object(7)
memory usage: 200.2+ KB

In [6]:
df.describe()

          ANO          MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
count  2328.0  2328.000000        2328.000000   2.328000e+03
mean   2021.0     1.753007        1501.106491   2.155868e+06
std       0.0     0.707556        2846.116613   9.086718e+02
min    2021.0     1.000000           0.020000   2.154172e+06
25%    2021.0     1.000000         180.000000   2.155128e+06
50%    2021.0     2.000000         515.940000   2.155916e+06
75%    2021.0     2.000000        1665.070000   2.156605e+06
max    2021.0     3.000000       35000.000000   2.157603e+06

In [8]:
df.shape

(2328, 11)

In [9]:
df.isnull().sum()

ANO                     0
MES                     0
SENADOR                 0
TIPO_DESPESA            0
CNPJ_CPF                0
FORNECEDOR              0
DOCUMENTO             119
DATA                    0
DETALHAMENTO         1157
VALOR_REEMBOLSADO       0
COD_DOCUMENTO           0
dtype: int64

In [10]:
df.isnull().sum().sum()

1276