<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Cursos_prouni_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### https://brasil.io/datasets/

In [6]:
import pandas as pd
#%matplotlib inline      # vai Mostrar o grafico nessa tela
# . é igual a "acessar funções da biblioteca...." 
df = pd.read_csv('https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/cursos_prouni.csv')  
df.head()

          grau     turno  ...  nota_parcial_ampla  nota_parcial_cotas
0  Bacharelado  Integral  ...                 NaN                 NaN
1  Bacharelado   Noturno  ...                 NaN                 NaN
2  Bacharelado  Integral  ...              738.96              718.64
3  Bacharelado   Noturno  ...                 NaN                 NaN
4  Bacharelado  Integral  ...              734.92              711.26

[5 rows x 20 columns]

In [7]:
df.shape    # verifica o tamanho do dataframe   (linhas, colunas)

(41447, 20)

In [9]:
df.dtypes

grau                     object
turno                    object
mensalidade             float64
bolsa_integral_cotas    float64
bolsa_integral_ampla    float64
bolsa_parcial_cotas     float64
bolsa_parcial_ampla     float64
curso_id                  int64
curso_busca              object
cidade_busca             object
uf_busca                 object
cidade_filtro            object
universidade_nome        object
campus_nome              object
campus_id                 int64
nome                     object
nota_integral_ampla     float64
nota_integral_cotas     float64
nota_parcial_ampla      float64
nota_parcial_cotas      float64
dtype: object

In [11]:
df.describe()

        mensalidade  ...  nota_parcial_cotas
count  41447.000000  ...         5519.000000
mean     622.636966  ...          511.799638
std      606.442296  ...           56.787140
min      139.000000  ...          450.000000
25%      278.000000  ...          450.000000
50%      393.350000  ...          511.820000
75%      825.000000  ...          557.170000
max     9999.990000  ...          768.340000

[8 rows x 11 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   grau                  41447 non-null  object
 1   turno                 41447 non-null  object
 2   mensalidade           41447 non-null  float64
 3   bolsa_integral_cotas  32520 non-null  float64
 4   bolsa_integral_ampla  25404 non-null  float64
 5   bolsa_parcial_cotas   8828 non-null   float64
 6   bolsa_parcial_ampla   13041 non-null  float64
 7   curso_id              41447 non-null  int64
 8   curso_busca           41447 non-null  object
 9   cidade_busca          41447 non-null  object
 10  uf_busca              41447 non-null  object
 11  cidade_filtro         41447 non-null  object
 12  universidade_nome     41447 non-null  object
 13  campus_nome           41447 non-null  object
 14  campus_id             41447 non-null  int64
 15  nome                  41447 non-null  object
 16  nota_integral_ampla   32520 non-null  float64
 17  nota_integral_cotas   16802 non-null  float64
 18  nota_parcial_ampla    16350 non-null  float64
 19  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), int64(2), object(9)
memory usage: 6.3+ MB