<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Cursos_prouni_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Datasets
https://brasil.io/datasets/

#### Curso Analise de dados com python
https://www.youtube.com/watch?v=2oZHg3HOtcY

 https://www.youtube.com/watch?v=W_Bz7M91R1Q

In [15]:
import pandas as pd
#%matplotlib inline      # vai Mostrar o grafico nessa tela
# . é igual a "acessar funções da biblioteca...." 
df = pd.read_csv('https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/cursos_prouni.csv')  
df.head()

          grau     turno  ...  nota_parcial_ampla  nota_parcial_cotas
0  Bacharelado  Integral  ...                 NaN                 NaN
1  Bacharelado   Noturno  ...                 NaN                 NaN
2  Bacharelado  Integral  ...              738.96              718.64
3  Bacharelado   Noturno  ...                 NaN                 NaN
4  Bacharelado  Integral  ...              734.92              711.26

[5 rows x 20 columns]

In [31]:
df.index

RangeIndex(start=0, stop=41447, step=1)

In [ ]:
df.shape    # verifica o tamanho do dataframe   (linhas, colunas)

(41447, 20)

In [ ]:
df.dtypes

grau                     object
turno                    object
mensalidade             float64
bolsa_integral_cotas    float64
bolsa_integral_ampla    float64
bolsa_parcial_cotas     float64
bolsa_parcial_ampla     float64
curso_id                  int64
curso_busca              object
cidade_busca             object
uf_busca                 object
cidade_filtro            object
universidade_nome        object
campus_nome              object
campus_id                 int64
nome                     object
nota_integral_ampla     float64
nota_integral_cotas     float64
nota_parcial_ampla      float64
nota_parcial_cotas      float64
dtype: object

In [ ]:
df.describe()

        mensalidade  ...  nota_parcial_cotas
count  41447.000000  ...         5519.000000
mean     622.636966  ...          511.799638
std      606.442296  ...           56.787140
min      139.000000  ...          450.000000
25%      278.000000  ...          450.000000
50%      393.350000  ...          511.820000
75%      825.000000  ...          557.170000
max     9999.990000  ...          768.340000

[8 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41447 entries, 0 to 41446
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   grau                  41447 non-null  object
 1   turno                 41447 non-null  object
 2   mensalidade           41447 non-null  float64
 3   bolsa_integral_cotas  32520 non-null  float64
 4   bolsa_integral_ampla  25404 non-null  float64
 5   bolsa_parcial_cotas   8828 non-null   float64
 6   bolsa_parcial_ampla   13041 non-null  float64
 7   curso_id              41447 non-null  int64
 8   curso_busca           41447 non-null  object
 9   cidade_busca          41447 non-null  object
 10  uf_busca              41447 non-null  object
 11  cidade_filtro         41447 non-null  object
 12  universidade_nome     41447 non-null  object
 13  campus_nome           41447 non-null  object
 14  campus_id             41447 non-null  int64
 15  nome                  41447 non-null  object
 16  nota_integral_ampla   32520 non-null  float64
 17  nota_integral_cotas   16802 non-null  float64
 18  nota_parcial_ampla    16350 non-null  float64
 19  nota_parcial_cotas    5519 non-null   float64
dtypes: float64(9), int64(2), object(9)
memory usage: 6.3+ MB

In [ ]:
df.head(4)

          grau     turno  ...  nota_parcial_ampla  nota_parcial_cotas
0  Bacharelado  Integral  ...                 NaN                 NaN
1  Bacharelado   Noturno  ...                 NaN                 NaN
2  Bacharelado  Integral  ...              738.96              718.64
3  Bacharelado   Noturno  ...                 NaN                 NaN

[4 rows x 20 columns]

In [ ]:
df['uf_busca'].value_counts()

SP    11533
MG     4175
PR     3918
RS     3060
BA     2505
SC     2195
RJ     1442
GO     1278
PA     1201
PE     1148
MT     1063
DF     1063
ES      825
CE      816
MS      785
MA      679
PB      596
RO      463
AM      429
PI      405
TO      343
RN      342
AL      327
SE      323
AP      219
AC      203
RR      111
Name: uf_busca, dtype: int64

In [ ]:
#Valor mais alto em numa linha no dataframe
df[df['mensalidade'] == df['mensalidade'].max()]

          grau     turno  ...  nota_parcial_ampla  nota_parcial_cotas
0  Bacharelado  Integral  ...                 NaN                 NaN

[1 rows x 20 columns]

In [ ]:
#Valor mais baixo numa linha no dataframe
df[df['mensalidade'] == df['mensalidade'].min()]

              grau              turno  ...  nota_parcial_ampla  nota_parcial_cotas
41444  Tecnológico         Vespertino  ...                 NaN                 NaN
41445  Bacharelado  Curso a Distância  ...                 NaN                 NaN
41446  Tecnológico  Curso a Distância  ...                 NaN                 NaN

[3 rows x 20 columns]

In [ ]:
#Valor mais baixo numa linha no dataframe com uma coluna
df[df['mensalidade'] == df['mensalidade'].min()] ['uf_busca']

41444    DF
41445    ES
41446    PA
Name: uf_busca, dtype: object

In [ ]:
#Valor mais baixo numa linha no dataframe com varias colunas
df[df['mensalidade'] == df['mensalidade'].min()] [['uf_busca', 'curso_busca', 'universidade_nome' ]]

      uf_busca  ...                                  universidade_nome
41444       DF  ...  Centro Universitário Planalto do Distrito Fede...
41445       ES  ...                       Universidade Paulista - UNIP
41446       PA  ...                       Universidade Paulista - UNIP

[3 rows x 3 columns]

In [ ]:
# Agrupando pela uf e pegando mensalidade e dando o máximo
df.groupby('uf_busca')['mensalidade'].max()

uf_busca
AC    9674.34
AL    7290.00
AM    2127.05
AP    3607.62
BA    9048.00
CE    9836.40
DF    6757.92
ES    6022.28
GO    6484.47
MA    8281.38
MG    9350.00
MS    9999.99
MT    9208.00
PA    8508.54
PB    8350.00
PE    7250.00
PI    8402.00
PR    8466.72
RJ    9023.07
RN    6505.09
RO    6909.97
RR    1463.05
RS    8329.95
SC    6922.15
SE    6490.00
SP    9715.61
TO    7800.00
Name: mensalidade, dtype: float64

In [ ]:
# Agrupando pela uf e pegando mensalidade e dando o minimo
df.groupby('uf_busca')['mensalidade'].min()

uf_busca
AC    149.0
AL    149.0
AM    149.0
AP    149.0
BA    149.0
CE    169.0
DF    139.0
ES    139.0
GO    149.0
MA    149.0
MG    149.0
MS    149.0
MT    149.0
PA    139.0
PB    149.0
PE    149.0
PI    149.0
PR    149.0
RJ    149.0
RN    149.0
RO    149.0
RR    169.0
RS    149.0
SC    149.0
SE    169.0
SP    144.0
TO    149.0
Name: mensalidade, dtype: float64

In [ ]:
# Localizar linhas do dataframe pelo agrupamento da uf e a mensalidade pelo indice da linha q tem o valor máximo
# idxmax - pega o INDICE DA LINHA que tem o valor maximo (pegou a linha inteira)
# loc - server para localizar uma linha com base no indice
df.loc[df.groupby('uf_busca')['mensalidade'].idxmax() ]

In [ ]:
# Mensalidades entre 500 e 1000
df[(df['mensalidade'] > 500) & (df['mensalidade'] < 1000)]

              grau              turno  ...  nota_parcial_ampla  nota_parcial_cotas
7007   Bacharelado            Noturno  ...              450.00                 NaN
7008   Bacharelado            Noturno  ...              450.00                 NaN
7009   Bacharelado            Noturno  ...              450.00                 NaN
7010   Bacharelado            Noturno  ...              500.52                 NaN
7011   Bacharelado            Noturno  ...              470.04                 NaN
...            ...                ...  ...                 ...                 ...
17681  Tecnológico            Noturno  ...                 NaN                 NaN
17682  Tecnológico            Noturno  ...                 NaN                 NaN
17683  Tecnológico            Noturno  ...              544.74              519.06
17684  Bacharelado  Curso a Distância  ...                 NaN                 NaN
17685  Bacharelado  Curso a Distância  ...                 NaN                 NaN

[10679 rows x 20 columns]