<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Filmes_no_Brasil_2009_2019_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Aumentando meu nÃ­vel

https://www.kaggle.com/joaoavf/introducao-a-analise-de-dados-python-e-pandas

https://insightlab.ufc.br/6-truques-do-pandas-para-impulsionar-sua-analise-de-dados/

#AnÃ¡lise de dados de filmes exibidos no Brasil de 2009 a 2019

#####Com base nos dados da Ancine (https://oca.ancine.gov.br) vamos analisar os filmes exibidos no Brasil

Arquivo -> filmes_no_Brasil_2009_2019.xlsx

In [1]:
import pandas as pd
%matplotlib inline

In [2]:
# carrega um dataframe com base no arquivo excel sem as 2 primeiras linhas do titulo e chute as 20 ultimas linhas
df = pd.read_excel('https://github.com/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/filmes_no_Brasil_2009_2019.xlsx?raw=true', skiprows=2 ,skipfooter=20)
df.head()

   Ano de exibiÃ§Ã£o  ... Renda (R$) no ano de exibiÃ§Ã£o
0             2019  ...                            70
1             2019  ...                        103805
2             2019  ...                         31295
3             2019  ...                          4186
4             2019  ...                          3531

[5 rows x 11 columns]

#### Analizando problemas de dados no Dataframe  
df.shape    # verifica o tamanho do dataframe   (linhas, colunas)<br>
df.dtypes   # todas colunas e os tipos [object(texto ou nÃ£o sabe o que Ã©)]<br>

*   Item da lista
*   Item da lista


df.describe()<br>
df.info()<br>
df.head(4)<br>
df.sample(10)   #lista linhas aleatÃ³rias<br>
df.tail()<br>
df.isnull().sum() retorna o nÃºmero de valores ausentes para cada coluna.<br>
df.isnull().sum().sum() retorna o nÃºmero total de valores ausentes.<br>
descobrir a porcentagem de valores que estÃ£o faltando, executando: df.isna().mean()<br>
    ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —ðŸ —<br>
help(pd.Series.loc) pedindo ajuda<br>

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.sample(10)

In [ ]:
df.tail()   # nan  = not a number

In [13]:
df.head()

   Ano de exibiÃ§Ã£o  ... Renda (R$) no ano de exibiÃ§Ã£o
0             2019  ...                            70
1             2019  ...                        103805
2             2019  ...                         31295
3             2019  ...                          4186
4             2019  ...                          3531

[5 rows x 11 columns]

In [11]:
df.dtypes

Ano de exibiÃ§Ã£o                     int64
TÃ­tulo da obra                     object
CPB/ROE                            object
GÃªnero                             object
PaÃ­s(es) produtor(es) da obra      object
Nacionalidade da obra              object
Data de lanÃ§amento                 object
Empresa distribuidora              object
Origem da empresa distribuidora    object
PÃºblico no ano de exibiÃ§Ã£o         object
Renda (R$) no ano de exibiÃ§Ã£o      object
dtype: object

In [ ]:
#----1
# Transformar o campo Data de lanÃ§amento em data
df['Data de lanÃ§amento'] = pd.to_datetime(df['Data de lanÃ§amento'])

In [14]:
#---2
# identificar o problema da coluna Data de lanÃ§amento
df['Data de lanÃ§amento'].value_counts()

RelanÃ§amento    198
42341            33
41264            33
41607            29
41215            27
               ...
relanÃ§amento      1
41922             1
41913             1
40328             1
42188             1
Name: Data de lanÃ§amento, Length: 878, dtype: int64

In [17]:
#---3
# exibir Data de lanÃ§amento  como relanÃ§amento
df[df['Data de lanÃ§amento'] == 'RelanÃ§amento']

      Ano de exibiÃ§Ã£o  ... Renda (R$) no ano de exibiÃ§Ã£o
6                2019  ...                           253
278              2019  ...                          1024
359              2019  ...                        277563
390              2019  ...                          1230
396              2019  ...                           920
...               ...  ...                           ...
6503             2009  ...                         154.5
6738             2009  ...                           944
6917             2009  ...                         29614
6965             2009  ...                          2300
6997             2009  ...                        3529.6

[198 rows x 11 columns]

#### DecisÃ£o sobre dados incorretos/ faltantes/divergentes

apagar?   atualizar manual os dados? o que fazer? Qual decisÃ£o?

In [18]:
df.shape

(7081, 11)

In [23]:
df_novo.shape

(6883, 11)

In [21]:
#---4
#criar(copia) um novo dataframe sem as linhas RelanÃ§amentos (-198 linhas)
df_novo = df[df['Data de lanÃ§amento'] != 'RelanÃ§amento']
df.head()

   Ano de exibiÃ§Ã£o  ... Renda (R$) no ano de exibiÃ§Ã£o
0             2019  ...                            70
1             2019  ...                        103805
2             2019  ...                         31295
3             2019  ...                          4186
4             2019  ...                          3531

[5 rows x 11 columns]

In [24]:
df.dtypes

Ano de exibiÃ§Ã£o                     int64
TÃ­tulo da obra                     object
CPB/ROE                            object
GÃªnero                             object
PaÃ­s(es) produtor(es) da obra      object
Nacionalidade da obra              object
Data de lanÃ§amento                 object
Empresa distribuidora              object
Origem da empresa distribuidora    object
PÃºblico no ano de exibiÃ§Ã£o         object
Renda (R$) no ano de exibiÃ§Ã£o      object
dtype: object

In [ ]:
#---5
# converter a coluna Data de lanÃ§amento para datetime
# df_novo['Data de lanÃ§amento'] = pd.to_datetime(df_novo['Data de lanÃ§amento'])

In [27]:
#---6
# Quais os anos que tiveram mais filmes lanÃ§ados?
# df_novo['Data de lanÃ§amento'].dt.year.value_counts()
df_novo['Ano de exibiÃ§Ã£o'].value_counts()

2015    748
2016    727
2018    691
2017    678
2019    676
2014    640
2009    583
2013    565
2011    558
2012    510
2010    507
Name: Ano de exibiÃ§Ã£o, dtype: int64