<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Filmes_no_Brasil_2009_2019_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Aumentando meu n√≠vel

https://www.kaggle.com/joaoavf/introducao-a-analise-de-dados-python-e-pandas

https://insightlab.ufc.br/6-truques-do-pandas-para-impulsionar-sua-analise-de-dados/

#An√°lise de dados de filmes exibidos no Brasil de 2009 a 2019

#####Com base nos dados da Ancine (https://oca.ancine.gov.br) vamos analisar os filmes exibidos no Brasil

Arquivo -> filmes_no_Brasil_2009_2019.xlsx

In [1]:
import pandas as pd
%matplotlib inline

In [2]:
# carrega um dataframe com base no arquivo excel sem as 2 primeiras linhas do titulo e chute as 20 ultimas linhas
df = pd.read_excel('https://github.com/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/filmes_no_Brasil_2009_2019.xlsx?raw=true', skiprows=2 ,skipfooter=20)
df.head()

   Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
0             2019  ...                            70
1             2019  ...                        103805
2             2019  ...                         31295
3             2019  ...                          4186
4             2019  ...                          3531

[5 rows x 11 columns]

#### Analizando problemas de dados no Dataframe  
df.shape    # verifica o tamanho do dataframe   (linhas, colunas)<br>
df.dtypes   # todas colunas e os tipos [object(texto ou n√£o sabe o que √©)]<br>

*   Item da lista
*   Item da lista


df.describe()<br>
df.info()<br>
df.head(4)<br>
df.sample(10)   #lista linhas aleat√≥rias<br>
df.tail()<br>
df.isnull().sum() retorna o n√∫mero de valores ausentes para cada coluna.<br>
df.isnull().sum().sum() retorna o n√∫mero total de valores ausentes.<br>
descobrir a porcentagem de valores que est√£o faltando, executando: df.isna().mean()<br>
    ü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†ó<br>
help(pd.Series.loc) pedindo ajuda<br>

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.sample(10)

In [ ]:
df.tail()   # nan  = not a number

In [13]:
df.head()

   Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
0             2019  ...                            70
1             2019  ...                        103805
2             2019  ...                         31295
3             2019  ...                          4186
4             2019  ...                          3531

[5 rows x 11 columns]

In [11]:
df.dtypes

Ano de exibi√ß√£o                     int64
T√≠tulo da obra                     object
CPB/ROE                            object
G√™nero                             object
Pa√≠s(es) produtor(es) da obra      object
Nacionalidade da obra              object
Data de lan√ßamento                 object
Empresa distribuidora              object
Origem da empresa distribuidora    object
P√∫blico no ano de exibi√ß√£o         object
Renda (R$) no ano de exibi√ß√£o      object
dtype: object

In [ ]:
#----1
# Transformar o campo Data de lan√ßamento em data
df['Data de lan√ßamento'] = pd.to_datetime(df['Data de lan√ßamento'])

In [14]:
#---2
# identificar o problema da coluna Data de lan√ßamento
df['Data de lan√ßamento'].value_counts()

Relan√ßamento    198
42341            33
41264            33
41607            29
41215            27
               ...
relan√ßamento      1
41922             1
41913             1
40328             1
42188             1
Name: Data de lan√ßamento, Length: 878, dtype: int64

In [17]:
#---3
# exibir Data de lan√ßamento  como relan√ßamento
df[df['Data de lan√ßamento'] == 'Relan√ßamento']

      Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
6                2019  ...                           253
278              2019  ...                          1024
359              2019  ...                        277563
390              2019  ...                          1230
396              2019  ...                           920
...               ...  ...                           ...
6503             2009  ...                         154.5
6738             2009  ...                           944
6917             2009  ...                         29614
6965             2009  ...                          2300
6997             2009  ...                        3529.6

[198 rows x 11 columns]

#### Decis√£o sobre dados incorretos/ faltantes/divergentes

apagar?   atualizar manual os dados? o que fazer? Qual decis√£o?

In [18]:
df.shape

(7081, 11)

In [23]:
df_novo.shape

(6883, 11)

In [21]:
#---4
#criar(copia) um novo dataframe sem as linhas Relan√ßamentos (-198 linhas)
df_novo = df[df['Data de lan√ßamento'] != 'Relan√ßamento']
df.head()

   Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
0             2019  ...                            70
1             2019  ...                        103805
2             2019  ...                         31295
3             2019  ...                          4186
4             2019  ...                          3531

[5 rows x 11 columns]

In [24]:
df.dtypes

Ano de exibi√ß√£o                     int64
T√≠tulo da obra                     object
CPB/ROE                            object
G√™nero                             object
Pa√≠s(es) produtor(es) da obra      object
Nacionalidade da obra              object
Data de lan√ßamento                 object
Empresa distribuidora              object
Origem da empresa distribuidora    object
P√∫blico no ano de exibi√ß√£o         object
Renda (R$) no ano de exibi√ß√£o      object
dtype: object

In [ ]:
#---5
# converter a coluna Data de lan√ßamento para datetime
# df_novo['Data de lan√ßamento'] = pd.to_datetime(df_novo['Data de lan√ßamento'])

In [27]:
#---6
# Quais os anos que tiveram mais filmes lan√ßados?
# df_novo['Data de lan√ßamento'].dt.year.value_counts()
df_novo['Ano de exibi√ß√£o'].value_counts()

2015    748
2016    727
2018    691
2017    678
2019    676
2014    640
2009    583
2013    565
2011    558
2012    510
2010    507
Name: Ano de exibi√ß√£o, dtype: int64