<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Filmes_no_Brasil_2009_2019_An%C3%A1lise_de_Dados_em_Python_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Aumentando meu n√≠vel

https://www.kaggle.com/joaoavf/introducao-a-analise-de-dados-python-e-pandas

https://insightlab.ufc.br/6-truques-do-pandas-para-impulsionar-sua-analise-de-dados/

#An√°lise de dados de filmes exibidos no Brasil de 2009 a 2019

#####Com base nos dados da Ancine (https://oca.ancine.gov.br) vamos analisar os filmes exibidos no Brasil

Arquivo -> filmes_no_Brasil_2009_2019.xlsx

In [2]:
import pandas as pd
%matplotlib inline

In [6]:
# carrega um dataframe com base no arquivo excel sem as 2 primeiras linhas do titulo
df = pd.read_excel('https://github.com/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/filmes_no_Brasil_2009_2019.xlsx?raw=true', skiprows=2)
df.head()

  Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
0            2019  ...                            70
1            2019  ...                        103805
2            2019  ...                         31295
3            2019  ...                          4186
4            2019  ...                          3531

[5 rows x 11 columns]

In [ ]:
help(pd.Series.loc)

#### Analizando problemas de dados no Dataframe  
df.shape    # verifica o tamanho do dataframe   (linhas, colunas)<br>
df.dtypes<br>
df.describe()<br>
df.info()<br>
df.head(4)<br>
df.sample(10)   #lista linhas aleat√≥rias<br>
df.tail()<br>
df.isnull().sum() retorna o n√∫mero de valores ausentes para cada coluna.<br>
df.isnull().sum().sum() retorna o n√∫mero total de valores ausentes.<br>
descobrir a porcentagem de valores que est√£o faltando, executando: df.isna().mean()<br>
Informa√ß√µes b√°sicas
#(linhas, colunas) 
>>> df.shape 

#Descreve o √≠ndice 
>>> df.index 

#Descreve as colunas 
>>> df.columns 

#Info sobre o dataframe 
>>> df.info() 

#N√∫mero de valores n√£o-NA 
>>> df.count()<br>

Resumos
#Soma de valores 
>>> df.sum() 

#Soma acumulada 
>>> df.cumsum() 

#Valores max e min 
>>>df.min/df.max() 

#Sum√°rio estat√≠stico 
>>>df.describe() 

#M√©dia dos valores 
>>>df.mean() 

#Mediana dos valores 
>>>df.median()<br>
<br><br>    ü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†óü†ó<br>
help(pd.Series.loc) pedindo ajuda<br>

In [13]:
df.shape

(7101, 11)

In [12]:
df.describe()

        Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
count              7097  ...                          7081
unique               27  ...                          6546
top                2015  ...                            ND
freq                794  ...                            29

[4 rows x 11 columns]

In [14]:
df.sample(10)

     Ano de exibi√ß√£o  ... Renda (R$) no ano de exibi√ß√£o
4003            2014  ...                   1.89617e+06
3046            2015  ...                       22229.1
4606            2013  ...                       29960.1
2294            2016  ...                         49975
1590            2017  ...                          6856
2253            2016  ...                        268775
1875            2017  ...                       96294.4
3156            2015  ...                        781515
4049            2014  ...                       79430.5
5951            2011  ...                         17739

[10 rows x 11 columns]

In [ ]:
df.tail(50)   # nan  = not a number