<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Taxa_de_distor%C3%A7%C3%A3o_Ensino_do_RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
***
#**Análise da Taxa distorção Ensino do RS**

Analisando a taxa distorção ensino do RS através de mapa com objetivo de treinamento para curso de análise de dados.

***
***
> Fontes:
>
>
>[Mapa da taxa distorção ensino RS](https://dados.rs.gov.br/dataset/fee-taxa-de-distorcao-idade-serie-total-102524/resource/b3c6d6d6-e23c-4d7b-a368-2c5817113958)
>
>[Aula 3](https://www.youtube.com/watch?v=zpNtiJsJ7KY) <br>
>
>
![Alt Text](https://media.giphy.com/media/l378asbpIR5DTsdqg/giphy.gif)
>
>https://www.youtube.com/watch?v=LJrK4B7bNWA

In [1]:
# pip permite instalar novas bibliotecas
# ! permite a execução de comandos no colab
!pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)

In [72]:
# importando as bibliotecas
import pandas as pd
%matplotlib inline
import folium

In [73]:
df = pd.read_csv('https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/2013-taxa-de-distorcao-idade-serie-total-102524.csv', encoding = 'latin1',skiprows=1)  
df

                 Município  ...  /Educação/Ens...de Série/Total 2013 (-)
0                   Aceguá  ...                                     25,7
1               Água Santa  ...                                     14,7
2                    Agudo  ...                                     26,4
3                Ajuricaba  ...                                     24,1
4                  Alecrim  ...                                     18,9
..                     ...  ...                                      ...
490  Vista Alegre do Prata  ...                                      2,6
491           Vista Gaúcha  ...                                     10,9
492    Vitória das Missões  ...                                     26,8
493              Westfalia  ...                                     15,8
494              Xangri-lá  ...                                     33,3

[495 rows x 5 columns]

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 5 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Município                                495 non-null    object
 1   ibge                                     495 non-null    int64
 2   latitude                                 495 non-null    float64
 3   longitude                                495 non-null    float64
 4   /Educação/Ens...de Série/Total 2013 (-)  495 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 19.5+ KB

In [75]:
# Renomear coluna
df.rename(columns={'/Educação/Ens...de Série/Total 2013 (-)': 'Tx_Distorção'}, inplace = True)
df

                 Município     ibge  latitude  longitude Tx_Distorção
0                   Aceguá  4300034 -31.86076  -54.16706         25,7
1               Água Santa  4300059 -28.16720  -52.03100         14,7
2                    Agudo  4300109 -29.64470  -53.25150         26,4
3                Ajuricaba  4300208 -28.23420  -53.77570         24,1
4                  Alecrim  4300307 -27.65790  -54.76490         18,9
..                     ...      ...       ...        ...          ...
490  Vista Alegre do Prata  4323606 -28.80520  -51.79460          2,6
491           Vista Gaúcha  4323705 -27.29020  -53.69740         10,9
492    Vitória das Missões  4323754 -28.35160  -54.50400         26,8
493              Westfalia  4323770 -29.37440  -51.74630         15,8
494              Xangri-lá  4323804 -29.80650  -50.05190         33,3

[495 rows x 5 columns]

In [76]:
# Converter Tx_Distorção para float e mudando virgula por ponto
df['Tx_Distorção'] = df['Tx_Distorção'].str.replace(',','.').astype(float)
df

                 Município     ibge  latitude  longitude  Tx_Distorção
0                   Aceguá  4300034 -31.86076  -54.16706          25.7
1               Água Santa  4300059 -28.16720  -52.03100          14.7
2                    Agudo  4300109 -29.64470  -53.25150          26.4
3                Ajuricaba  4300208 -28.23420  -53.77570          24.1
4                  Alecrim  4300307 -27.65790  -54.76490          18.9
..                     ...      ...       ...        ...           ...
490  Vista Alegre do Prata  4323606 -28.80520  -51.79460           2.6
491           Vista Gaúcha  4323705 -27.29020  -53.69740          10.9
492    Vitória das Missões  4323754 -28.35160  -54.50400          26.8
493              Westfalia  4323770 -29.37440  -51.74630          15.8
494              Xangri-lá  4323804 -29.80650  -50.05190          33.3

[495 rows x 5 columns]

In [77]:
df.nsmallest(10, 'Tx_Distorção')

                  Município     ibge  latitude  longitude  Tx_Distorção
490   Vista Alegre do Prata  4323606  -28.8052   -51.7946           2.6
375  Santo Antônio do Palma  4317558  -28.4956   -52.0267           4.3
28                    Áurea  4301552  -27.6936   -52.0505           5.8
268       Nicolau Vergueiro  4312674  -28.5298   -52.4676           7.0
128              Derrubadas  4306320  -27.2642   -53.8645           7.4
119                Cotiporã  4305959  -28.9891   -51.6971           7.5
68       Campestre da Serra  4303673  -28.7926   -51.0941           7.6
476                  Vanini  4322558  -28.4758   -51.8447           7.8
236              Linha Nova  4311643  -29.4679   -51.2003           8.0
392    São José do Inhacorá  4318499  -27.7251   -54.1275           8.0

In [78]:
df.nlargest(10, 'Tx_Distorção', keep='last')

              Município     ibge  latitude  longitude  Tx_Distorção
307        Pedras Altas  4314175  -31.7217   -53.5838          56.0
316    Pinheiro Machado  4314506  -31.5794   -53.3798          53.9
17             Arambaré  4300851  -30.9093   -51.5046          52.8
140     Eldorado do Sul  4306767  -30.0847   -51.6187          51.9
35      Barra do Quaraí  4301875  -30.2029   -57.5497          51.5
393   São José do Norte  4318507  -32.0151   -52.0331          49.4
413  São Valério do Sul  4319737  -27.7906   -53.9368          49.2
193         Hulha Negra  4309654  -31.4067   -53.8667          49.0
106                Chuí  4305439  -33.6866   -53.4594          48.6
233       Lavras do Sul  4311502  -30.8071   -53.8931          47.7