<a href="https://colab.research.google.com/github/V1L3La/Learning-An-lise-de-Dados-em-Python/blob/main/Taxa_de_distor%C3%A7%C3%A3o_Ensino_do_RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***
***
#**Análise da Taxa distorção Ensino do RS**

Analisando a taxa distorção ensino do RS através de mapa com objetivo de treinamento para curso de análise de dados.

***
***
> Fontes:
>
>
>[Mapa da taxa distorção ensino RS](https://dados.rs.gov.br/dataset/fee-taxa-de-distorcao-idade-serie-total-102524/resource/b3c6d6d6-e23c-4d7b-a368-2c5817113958)
>
>[Aula 3](https://www.youtube.com/watch?v=zpNtiJsJ7KY) <br>
>
>
![Alt Text](https://media.giphy.com/media/l378asbpIR5DTsdqg/giphy.gif)
>
>https://www.youtube.com/watch?v=LJrK4B7bNWA

In [ ]:
# pip permite instalar novas bibliotecas
# ! permite a execução de comandos no colab
!pip install folium

In [3]:
#  https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/2013-taxa-de-distorcao-idade-serie-total-102524.csv
# importando as bibliotecas
import pandas as pd
%matplotlib inline
import folium

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/V1L3La/Learning-An-lise-de-Dados-em-Python/main/2013-taxa-de-distorcao-idade-serie-total-102524.csv', encoding = 'latin1',skiprows=1)  
df.head(6)

    Município     ibge  ...  longitude  /Educação/Ens...de Série/Total 2013 (-)
0      Aceguá  4300034  ...  -54.16706                                     25,7
1  Água Santa  4300059  ...  -52.03100                                     14,7
2       Agudo  4300109  ...  -53.25150                                     26,4
3   Ajuricaba  4300208  ...  -53.77570                                     24,1
4     Alecrim  4300307  ...  -54.76490                                     18,9
5    Alegrete  4300406  ...  -55.79490                                     36,0

[6 rows x 5 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Município     495 non-null    object
 1   ibge          495 non-null    int64
 2   latitude      495 non-null    float64
 3   longitude     495 non-null    float64
 4   Tx_Distorção  495 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 19.5+ KB

In [10]:
# Renomear coluna
df.rename(columns={'/Educação/Ens...de Série/Total 2013 (-)': 'Tx_Distorção'}, inplace = True)
df.head()

    Município     ibge  latitude  longitude Tx_Distorção
0      Aceguá  4300034 -31.86076  -54.16706         25,7
1  Água Santa  4300059 -28.16720  -52.03100         14,7
2       Agudo  4300109 -29.64470  -53.25150         26,4
3   Ajuricaba  4300208 -28.23420  -53.77570         24,1
4     Alecrim  4300307 -27.65790  -54.76490         18,9

In [ ]:
# 2 14